<%= form_for(reservation) do |f| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
      <% reservation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :amount %>
    <%= f.number_field :amount %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :limit_date %>
    <%= f.datetime_select :limit_date %>
  </div>

  <div class="field">
    <%= f.label :date_reservation %>
    <%= f.text_field :date_reservation %>
  </div>

  <div class="field">
    <%= f.label :datetime %>
    <%= f.text_field :datetime %>
  </div>

  <div class="field">
    <%= f.label :provider_id_id %>
    <%= f.text_field :provider_id_id %>
  </div>

  <div class="field">
    <%= f.label :consumer_id_id %>
    <%= f.text_field :consumer_id_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
