<p id="notice"><%= notice %></p>

<h1>Reservations</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Description</th>
      <th>Limit date</th>
      <th>Date reservation</th>
      <th>Datetime</th>
      <th>Provider</th>
      <th>Consumer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.amount %></td>
        <td><%= reservation.description %></td>
        <td><%= reservation.limit_date %></td>
        <td><%= reservation.date_reservation %></td>
        <td><%= reservation.datetime %></td>
        <td><%= reservation.provider_id %></td>
        <td><%= reservation.consumer_id %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
