<%= form_for(person) do |f| %>
  <% if person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cedula %>
    <%= f.text_field :cedula %>
  </div>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :born_date %>
    <%= f.datetime_select :born_date %>
  </div>

  <div class="field">
    <%= f.label :nationality %>
    <%= f.text_field :nationality %>
  </div>

  <div class="field">
    <%= f.label :provider_id_id %>
    <%= f.text_field :provider_id_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
