
    <title>Menjar - Registar producto</title>

    <%= stylesheet_link_tag "http://fonts.googleapis.com/icon?family=Material+Icons" %>
    <%= stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css" %>

<!-- HEADER -->
<header>
    <!-- Menu -->
    <nav class="red darken-4 z-depth-3">
      <div class="nav-wrapper">
        <a href="index.html" class="brand-logo center">
            <img src="img/logo_base.png" alt="" width="140px" heigth="70px" align="center">
        </a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="register.html"><i class="medium material-icons">perm_identity</i></a></li>
          <li><a href="badges.html"><i class="medium material-icons">chat</i></a></li>
          <li><a href="collapsible.html"><i class="medium material-icons">settings</i></a></li>
        </ul>
      </div>
    </nav>

</header>


<p id="notice"><%= notice %></p>

<h1>Currently products</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Expiration</th>
      <th>Price</th>
      <th>Latitude</th>
      <th>Long</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.expiration %></td>
        <td><%= product.price %></td>
        <td><%= product.latitude %></td>
        <td><%= product.long %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path %>
