<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Expiration:</strong>
  <%= @product.expiration %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @product.latitude %>
</p>

<p>
  <strong>Long:</strong>
  <%= @product.long %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
